
.aboutpic{
    width: 100vw;
}


.about2{
    position: relative;
    text-align: center;
    z-index: -10;
  }

 
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .about-text {
    font-size: 14px;
    color: #555;
  }
  
  /* .aboutpic {
    width: 100%;
    height: 600px; 
    object-fit: cover; 
  } */
  
  .aboutslogan {
    width: 100%; /* Set the desired width */
    height: 800px; /* Set the desired height */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Establish positioning context */
  }
  .aboutpic img {
    width: 100%; /* Make image width fill the container */
    display: block; /* Remove any inline margins */
    position: absolute; /* Position image absolutely */
    bottom: 0; /* Position image at the bottom */
  }


  .slogansentence {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Set text color to black */
    font-size: 30px; /* Adjust font size as needed */
    /* Additional styling properties as needed */
    -webkit-text-stroke-width: 1px; /* Set outline width */
    -webkit-text-stroke-color: black; /* Set outline color */
    border: 2px solid black; /* Outline for the container */
    padding: 10px; /* Adjust padding as needed */
  }
  .about-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .about-section {
    text-align: center;
  }
  
  .about-image-left {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
    margin-right:150px; 
    left:5%;
    border: 2px solid black; /* Outline for the container */
    padding: 10px; /* Adjust padding as needed */
  }
  .about-image-right {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px; /* Add some space between image and text */
    right:5%;
    margin-left:150px;
    border: 2px solid black; /* Outline for the container */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .about-text {
    font-size: 14px;
    color: #555;
  }