
.add-product-button {
    background-color: #007bff; /* Change the background color */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.products-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-header {
    width: 100%;
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
}

.product-card {
    width: calc(50% - 10px);
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h2,
.product-card p {
    margin-bottom: 10px;
}

.product-card button {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.product-card button:last-child {
    margin-right: 0;
}

.product-card button:hover {
    background-color: #0056b3;
}